<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
   <directoryBrowse enabled="true" />
    <staticContent>
	  <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:15" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="image/png" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="image/png" enabled="true" />
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>